environment:

  # PyPI login
  TWINE_USERNAME: dwtools
  TWINE_PASSWORD:
    secure: 9/YAQhmz9Kb1ZeXzhBYeQA==

  matrix:
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38"
    - PYTHON: "C:\\Python38-x64"

install:
  - "%PYTHON%\\python.exe --version"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt -r tests\\requirements.txt"

  # required to link py35 (x86 and x64)
  - set PATH=%PATH%;C:\Program Files (x86)\Windows Kits\8.1\bin\x86

build_script:
  - "%PYTHON%\\python.exe setup.py build_ext --inplace"

test_script:
  - "%PYTHON%\\python.exe -m unittest discover"

deploy_script:
  - "%PYTHON%\\python.exe -m pip install twine"
  - "%PYTHON%\\python.exe -m pip install wheel"  
  - "%PYTHON%\\python.exe setup.py bdist_wheel"
  - cmd: "if [%APPVEYOR_REPO_TAG%]==[true] if NOT [%CPPDEBUG%]==[1] %PYTHON%\\Scripts\\twine upload --skip-existing dist\\*.whl"
